IPPServiceJSONToSOAPMediation/ippServiceConcrete_InlineSchema2.xsd

<?xml version="1.0" encoding="UTF-8"?><!--Created by TIBCO WSDL--><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://dmv.ca.gov/message/document" xmlns:Q1="http://dmv.ca.gov/message/header" xmlns:Q2="http://dmv.ca.gov/message/status" xmlns:ns0="http://applicationinfo.ipp.dmv.ca.gov" xmlns:ns1="http://dmv.ca.gov/message/document" xmlns:ns2="http://dmv.ca.gov/message/header" xmlns:ns3="http://dmv.ca.gov/message/status" xmlns:ns4="http://dmv.ca.gov/shoppingcart" xmlns:ns5="http://schema.ipp.dmv.ca.gov" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dmv.ca.gov/message/document" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://dmv.ca.gov/message/status" schemaLocation="ippServiceConcrete_InlineSchema4.xsd"/>
            <xsd:import namespace="http://dmv.ca.gov/message/header" schemaLocation="ippServiceConcrete_InlineSchema3.xsd"/>
            <xsd:complexType name="DMVFaultDocument">
                <xsd:sequence>
                    <xsd:element name="faultCode" type="xsd:string"/>
                    <xsd:element name="faultMessage" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DMVMessageDocument">
                <xsd:annotation>
                    <xsd:documentation>
        		Add payload element by extending this type for service
        		layer messages.
        	</xsd:documentation>
                </xsd:annotation>
                <xsd:sequence>
                    <xsd:element ref="Q1:header"/>
                    <xsd:element minOccurs="0" ref="Q2:status"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:element name="dmvFault" type="tns:DMVFaultDocument"/>
            <xsd:element name="dmvMessage" type="tns:DMVMessageDocument"/>
        </xsd:schema>